doctype html
html
  head
    meta(name='viewport', content='width=device-width')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title= subject

    include _style

  body
    .header
      table
        tbody
          tr
            td.center
              img.logo(src='https://example.com/logo.png', alt='ChatBuddy Logo')

    table.body
      tbody
        tr
          td.container
            table.main
              tbody
                tr
                  td.wrapper
                    table
                      tbody
                        tr
                          td
                            // CONTENT
                            table.content
                              tbody
                                tr
                                  td
                                    block content

            .footer
              table
                tbody
                  tr
                    td.content-block
                      span.apple-link ChatBuddy Inc, Abuja, Nigeria
                      br
                      |  Unlock the Power of Conversational AI
