extends baseEmail

block content
  //- h2 Email Verification Successful

  p Hi #{firstName},

  p Your email has been successfully verified. You can now enjoy the full features of ChatBuddy.

  p Thank you for choosing ChatBuddy. We're excited to have you as part of our community.

  p Best regards,
  p The ChatBuddy Team.
