extends baseEmail

block content
  //- h1 Password Reset Request
  p
  | Hi #{firstName},
  p
  | We received a request to reset your password for your ChatBuddy account. If you didn't initiate this request, please ignore this email.
  p
  | To reset your password, please click on the following button:
  p
  a(href=`${options.resetUrl}`)
    button(style="background-color: #B35309; color: #fff; padding: 10px 20px; border: none; border-radius: 4px; cursor: pointer;")
      | Reset Password
  p
  | This link is valid for #{resetExpiration} minutes. After that, you will need to initiate the password reset process again.
  p
  | If you have any questions or need further assistance, please contact our support team.

  p
    | Best regards,
    | The ChatBuddy Team.