extends baseEmail

block content
  h1 Password Reset Request
  p
    | Dear #{username},
  p
    | We received a request to reset your password for your ChatBuddy account. If you didn't initiate this request, please ignore this email.
  p
    | To reset your password, please use the following One-Time Password (OTP):
  p
    span(style="font-weight: bold; font-size: 18px; padding: 10px; background-color: #f5f5f5;")
      | #{options.otp}
  p
    | This OTP is valid for #{otpExpiration} minutes. After that, you will need to initiate the password reset process again.
  p
    | If you have any questions or need further assistance, please contact our support team.
  
  p
    | Best regards,
    | The ChatBuddy Team.